.container {
    background-color: #ffffff;
    width:

}

.boxed {
    border: 2px solid black;
}

header {
    border-bottom: 1px solid;
    border-color: #cccccc;
    margin: 0;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

#about {
    color: #cccccc;
    width: 10%;
    float: right;
}

#portfolio {
    color: #cccccc;
    width: 10%;
    float: right;
}

#contact {
    color: #cccccc;
    width: 10%;
    float: right;
}

h1 {
    background-color: #4aaaa5;
    color:white;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 300px;
    margin-top: -10px;
    margin-left: 40px;
    padding: 15px 5px 15px 5px;
    text-align: center;
    position: fixed;

}

.aboutme {
    width: 400px;
}

h2 {
    color: #4aaaa5;
    font-family: "Georgia", Times, Times New Roman, serif;
}

p {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}



footer {
    background-color: #666666;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid;
    border-color: #4aaaa5;
}